body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: #00698f;
    font-size: 24px;
    margin-bottom: 10px;
}

form {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"] {
    width: 95%;
    position: relative;
    left: 2px;
    height: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center; /* Centrage du champ à remplir */
    border-radius: 5px;
}

input[type="hidden"] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.error {
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 10px;
}