<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une école</title>
</head>
<body>
<h1>Ajouter une école</h1>
<form action="/creerEcole" method="post">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" required>
    <label for="adresse"> adresse:</label>
    <input type="text" id="adresse" name="adresse" required>
    <label for="numeroTelephone">numero de telephone :</label>
    <input type="number" id="numeroTelephone" name="numeroTelephone" required>
    <label for="email">email :</label>
    <input type="email" id="email" name="email" required>
    <button type="submit">Créer l'école</button>
</form>
</body>
</html>