<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ecoleUpdate.css">
    <title>Modifier une école</title>
</head>
<body>
<h1>Modifier une école</h1>
<form th:action="@{/View/ecoleUpdate/{idEcole} (idEcole=${ecole.idEcole})}" th:object="${ecole}" method="post">

    <label for="nomEcole">Nom de l'école :</label>
    <input type="text" id="nomEcole" name="nomEcole" th:field="*{nomEcole}" required><br><br>

    <label for="adresseEcole">Adresse de l'école :</label>
    <input type="text" id="adresseEcole" name="adresseEcole" th:field="*{adresseEcole}" required><br><br>

    <label for="emailEcole">Email de l'école :</label>
    <input type="email" id="emailEcole" name="emailEcole" th:field="*{emailEcole}" required><br><br>

    <label for="numeroTelephoneEcole">Numéro de téléphone de l'école :</label>
    <input type="text" id="numeroTelephoneEcole" name="numeroTelephoneEcole" th:field="*{numeroTelephoneEcole}" required><br><br>

    <button type="submit">Modifier l'ecole</button>
</form>
</body>
</html>
